---
const { ocean } = Astro.props;
---

<div class="ocean-stats">
  <h3>Statistiques détaillées de {ocean.nom}</h3>
  <p><strong>Température :</strong> {ocean.temperature}</br>
  <strong>Superficie :</strong> {ocean.superficie}</br>
  <strong>Taux de Pollution :</strong> {ocean.tauxDePollution}%</br>
  <a href={ocean.lien} target="_blank">En savoir plus</a></p>
</div>
