---
import OceanStats from './OceanStats.astro'; // Importation du composant OceanStats

const { ocean } = Astro.props;

const tauxDePollution = ocean.tauxDePollution;
const pollutionNumber = parseInt(tauxDePollution, 10);

// Fonction pour déterminer la couleur en fonction du taux de pollution
const getBallColor = (pollution: number) => {
  if (pollution >= 100) return "black";  // Très haute pollution
  if (pollution >= 80) return "grey";    // Pollution élevée
  if (pollution >= 60) return "red";     // Pollution élevée
  if (pollution >= 40) return "orange";  // Pollution modérée
  if (pollution >= 20) return "yellow";  // Pollution faible
  return "darkgreen";                    // Pas de pollution
};

const ballColor = getBallColor(pollutionNumber);
const idt = "pollutionBall" + ocean.id; // Identifiant unique pour chaque ballon
---

<div id={idt} class="pollution-ball" style={`background-color: ${ballColor};`} onclick={`toggleStats('${idt}')`}></div>

<div id={`stats-${idt}`} class="ocean-stats" style="display: none;">
  <OceanStats ocean={ocean} />
</div>

<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    // Fonction pour basculer l'affichage des statistiques
    window.toggleStats = (idt) => {
      const statsContainer = document.getElementById('stats-' + idt);  // Cibler l'élément avec l'ID dynamique
      if (statsContainer) {
        const currentDisplay = statsContainer.style.display;
        // Bascule l'affichage
        statsContainer.style.display = currentDisplay === 'none' ? 'block' : 'none';
      }
    };
  });
</script>

<style>
  .pollution-ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 4;
    transition: background-color 0.5s ease;
    cursor: pointer;
  }

  .ocean-stats {
    z-index: 5;
    border-radius: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin-top: 10px;
    height: 150px;
    width: 250px;
  }

  .ocean-stats h3, p{
    font-size: 20px;
  }

  .ocean-stats a {
    color: #0077cc;
    text-decoration: none;
  }

  .ocean-stats a:hover {
    text-decoration: underline;
  }
</style>
